:root {
  --base-text-color: #212529;
  --header-bg: #007bff;
  --header-text-color: #fff;
  --default-btn-bg: #007bff;
  --default-btn-text-color: #fff;
  --default-btn-hover-bg: #0069d9;
  --default-btn-border-color: #0069d9;
  --danger-btn-bg: #dc3545;
  --danger-btn-text-color: #fff;
  --danger-btn-hover-bg: #bd2130;
  --danger-btn-border-color: #dc3545;
  --input-border-color: #ced4da;
  --input-bg-color: #fff;
  --input-text-color: #495057;
  --input-focus-bg-color: #fff;
  --input-focus-text-color: #495057;
  --input-focus-border-color: #80bdff;
  --input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  --checkbox-active-bg-color: rgb(121, 250, 47);
  --taskItem-checked-bg-color: #cce5ff;
  --mark-bg: #007bff;
  --mark-color: white;
}

body {
  color: var(--base-text-color);
  background-image: url(shutterstock_438538876-800x450.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background: var(--header-bg) !important;
}

.header .navbar-brand {
  color: var(--header-text-color) !important;
}
.btn.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active {
  color: var(--default-btn-text-color);
  background-color: var(--default-btn-bg);
  border-color: var(--default-btn-border-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: var(--default-btn-focus-box-shadow);
}
.btn.btn-primary:hover,
.btn.btn-primary.active {
  color: var(--default-btn-text-color) !important;
  background-color: var(--default-btn-hover-bg) !important;
  border-color: var(--default-btn-border-color) !important;
}

.btn.btn-danger,
.btn-danger:not(:disabled):not(.disabled):active {
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-bg);
  border-color: var(--danger-btn-border-color);
}

.btn.btn-danger:hover {
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-hover-bg);
  border-color: var(--danger-btn-border-color);
}

.form-control {
  background: var(--input-bg-color);
  border-color: var(--input-border-color);
  color: var(--input-text-color);
}

.form-control:focus {
  color: var(--input-focus-text-color);
  background-color: var(--input-focus-bg-color);
  border-color: var(--input-focus-border-color);
  box-shadow: var(--input-focus-box-shadow);
}
.btn.btn-primary:focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.focus {
  outline: none;
  box-shadow: var(--input-focus-box-shadow) !important;
}
.markEdit {
  color: var(--mark-color);
  background: var(--mark-bg);
}

label {
  margin: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + .checkbox-mark {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  background-size: 10px 10px;
  background-position: 50% 50%;
  transition: all 0.2s;
}
input[type="checkbox"]:checked + .checkbox-mark {
  background-color: var(--checkbox-active-bg-color);
  background-image: url("check-solid.svg");
  background-repeat: no-repeat;
}
textarea.editableField {
  width: 100%;
}
input.editableField {
  width: 65vw;
}
